.card {
	width: 383px;
	display: inline-block;
    position: relative;
    margin-bottom: 60px;
    border-radius: 6px;
    color: rgba(0,0,0, 0.87);
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    // margin-right: 16px;
	box-sizing: border-box;

	width:calc(33.3333% - 8px);
	flex: 0 0 calc(33.3333% - 12px);

    &_auction {
    	border: 1px solid $mint;
    	box-shadow: 0 2px 2px 0 rgba(0, 188, 212, 0.14), 0 3px 1px -2px rgba(0, 188, 212, 0.2), 0 1px 5px 0 rgba(0, 188, 212, 0.12);
    	margin-top: -1px;
    }

    

    @media only screen and (max-width: 1200px) {
		width: 342px;

		
	}

	@media only screen and (max-width: 768px) {
	    width: 100%;
	    margin-right: 0;

	    
	}

    

	&__pic {
		height: 60%;
	    position: relative;
	    z-index: 1;
	    margin-left: 15px;
	    margin-right: 15px;
	    margin-top: -30px;
	    border-radius: 6px;

	    @media only screen and (max-width: 768px) {
		    height: auto;
		}
	}

	&__piclink {
		display: block;
	}

	&__img {
		height: 250px;
    	width: 100%;
	    border-radius: 6px;
	    pointer-events: none;
	    box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

	    @media only screen and (max-width: 768px) {
		    height: 100%;
		}
    }

	&__coloredbg {
		transform: scale(0.94);
	    top: 12px;
	    filter: blur(12px);
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    background-size: cover;
	    z-index: -1;
	    transition: opacity .45s;
	    opacity: 0;
	}

	&__content {
		padding: 15px 30px 0 30px;
	}

	&__title {
		text-decoration: none;
	}

	&__text {
		margin-bottom: 5px;

		&_painter {
			margin: 10px 0;
			display: block;

			&:hover {
				text-decoration: none;
			}
		}
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-top: 1px solid #E8E8E8;
		padding: 15px 30px;
		margin-left: -30px;
		margin-top: 20px;
		width: 100%;
		position: relative;
		cursor: pointer;

		&:hover .card__addtocart {
			display: flex;
			opacity: 1;
		}

		&:hover .card__bottominfo {
			opacity: 0;
		}
	}

	&__location {
		display: flex;
		align-items: center;
		& i {
			color: $grey;
			font-size: 18px;
		}
	}

	&__addtocart {
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: $violet;
		color: #fff;
		left: 0;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    text-decoration: none;
	    z-index: 1;
	    opacity: 0;
	    transition: opacity 0.3s;
	    border-radius: 0 0 6px 6px;

	    &_mint {
			background-color: $mint;
		}
	}

	&__bottominfo {
		display: flex;
		justify-content: space-between;
	    align-items: center;
		width: 100%;
		height: 100%;
		transition: opacity 0.3s;
	}

	&__auctionTitle {
		display: flex;
		align-items: flex-start;
		height: 23px;
	}

	&__auctionIndicators {
		display: flex;
		justify-content: flex-end;
		flex-grow: 1;
	}

	.card__auctionSticker {
		font-size: 10px;
		color: #fff;
		text-transform: uppercase;
		padding: 7px 14px;
		background-color: $mint;
		font-family: 'Roboto';
		border-radius: 30px;
	}

	&__auctiontime {
		display: flex;
		margin-left: 4px;
	}

	&__timeNumbers {
		padding: 1px 0 0 2px;
	}
}