.logo {
	font-size: 32px;
	font-family: 'Roboto';
	color: #fff;
	text-decoration: none;
	transition: color 0.3s;



	@media only screen and (max-width: 768px) {
		margin: 0 auto;
	}

	&_violet {
		color: #9c27b0;
		transition: color 0.3s;
	}

	&:hover {
		text-decoration: none;
		color: #9c27b0;

		span {
			color: #fff;
		}
	}

	&_inner {
		color: $basegrey;

		&:hover {
			span {
				color: $basegrey;
			}
		}
	}
	
}