.painters {
	&__navigation {
		display: flex;
		justify-content: center;
		list-style: none;
		margin: 40px auto 70px auto;
		padding: 0;
		max-width: 280px;
    	justify-content: space-between;

		@media only screen and (max-width: 768px) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__navigationlink {
		text-decoration: none;
		transition: color 0.5s;

		@media only screen and (max-width: 768px) {
			margin-right: 0;
			display: block;
    		margin-bottom: 15px;
		}

		&_active {
			color: $violet;
		}

		&:hover {
			color: $violet;
		}
	}

	&__navigationlink:nth-child(2) {
		margin-right: 0;
	}
}