.filter {
	width: 0px;
	height: 0px;
	background-color: #eae9e9;
	border-radius: 6px;
	margin-top: -30px;
	padding: 0;
	overflow: hidden;
	align-self: flex-start;
	transition: width 0.5s, padding 0.5s;

	&__applyfilters {
		width: 100%;
	}


	&_uncollapsed {
		padding: 40px;
		width: 383px;
		display: block;
		height: auto;
		box-sizing: border-box;
		margin-right: 20px;

		@media only screen and (max-width: 768px) {
			width: 100%;
			margin: -20px 0 60px 0!important
		}
	}

	&__section {
		margin-bottom: 40px;

		&_price {
			display: none !important;
		}
	}

	&__sectioncontent {
		overflow: hidden;
		margin-top: 10px;
	}

	&__title {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-bottom: 0;

		& i {
			cursor: pointer;
			transition: opacity 0.5s;

			&:hover {
				opacity: 0.7;
			}
		}
	}
}