.account {
    
    display: flex;

    &__control-group {
        margin-bottom: 10px;
    }

    &__left {
        width: 70%;

        @media only screen and (max-width: 768px) {
            width: 100%;
        }
    }

    &__right {
        width: 30%;
        text-align: center;

        @media only screen and (max-width: 768px) {
            display: none;
        }
    }

    &__savebutton {
        margin-top: 30px;
    }

    &__painting {
        display: flex;
        padding-bottom: 15px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 30px;
    }

    &__paintingdesc {
        padding: 15px 0 20px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-grow: 1;

        & a {
            display: block;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__paintingpic {
        width: 190px;
        
        & img {
            width: 190px;
            height: 135px;
            object-fit: cover;
            width: 100%;
            border-radius: 3px;
            pointer-events: none;
            box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
        }
    }

    &__paintingcontrols {
        width: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & i {
            font-size: 18px;
            color: #b2b2b2;
            transition: opacity 0.5s;

            &:hover {
                opacity: 0.5;
            }
        }
    }

    &__messages {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__message {
        background-color: #faf8f8;
        padding: 20px;
        border-radius: 3px;
        margin-bottom: 10px;

        &_active {
            background-color: #fef8ff;
        }
    }

    &__message-link {
        text-decoration: none;
        color: #3c4858;
    }

    &__message-status {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        & span:first-child {
            display: flex;
            align-items: flex-start;

            & i {
                margin-top: -6px;
                color: #afadad;
            }
        }
    }

    &__message-name {
        margin-bottom: 20px;
        font-weight: bold;
    }

    &__message-time {
        margin-left: 20px;
        color: #afadad;
    }


    &__conversations {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: 40px;
        overflow-y: scroll;
        max-height: 500px;
        padding-right: 20px;
    }

    &__conversations-box {
        flex-direction: column;
        justify-content: flex-end;
        display: flex;
        
    }

    &__conversation {
        display: flex;
        margin-bottom: 5px;

        &_left {
            & .account__conversation-wrapper {
                background-color: #f0f0f0;
                width: fit-content;
                padding: 10px;
                border-radius: 8px;
            }

            & .account__conversation-time {
                font-size: 10px;
                color: #c3c2c2;
                margin-bottom: 5px;
            }
        }

        &_right {
            justify-content: flex-end;
            & .account__conversation-wrapper {
                background-color: #d9f3ff;
                width: fit-content;
                padding: 10px;
                border-radius: 8px;
                text-align: right;
            }

            & .account__conversation-time {
                font-size: 10px;
                color: #b6d6e5;
                margin-bottom: 5px;
            }
            
        }
        
    }

    &__conversation-form {
        margin-top: 40px;
    }

    &__conversation-backlink {
        display: flex;
        height: 20px;
        align-items: center;
        overflow: hidden;
        color: #3c4858;

        & i {
            margin-right: 5px;
        }
    }

    &__email-confirmation {
        background-color: #fdf4f4;
        padding: 20px;
        color: $violet;
        margin-bottom: 40px; 
    }

}