.account {
    display: flex;

    &__control-group {
        margin-bottom: 10px;
    }

    &__left {
        width: 70%;
    }

    &__right {
        width: 30%;
        text-align: center;
    }

    &__savebutton {
        margin-top: 30px;
    }
}